<% include partials/header %>

    <span>You have </span>
    <span class="uptodate-boolean"></span>
    <span>logged all hours.</span>


<script src="js/dashboard.js" charset="utf-8"></script>
<% include partials/footer %>
