<% include partials/header %>

    <form >
        Username
        <input type="text" name="username" value="">
        Password
        <input type="password" name="password" value="">
        <br>
        <input type="submit" name="" value="Submit" class="submit-credentials">
    </form>

<script src="js/index.js" charset="utf-8"></script>
<% include partials/footer %>
